In [63]:
!pip install cryptography

Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (37.0.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography) (2.21)

# **Utlity Functions**

In [64]:
# Convert to string in ascii from numeric representation of triplets
def convert(a) :
    l = len(a)
    s = ""
    
    idx = 0
    while idx < l :
        temp = a[idx:idx+3]
        s = s + chr(int(temp))
        idx = idx + 3
        
    return s

# Creating a random salt of length n
import string
import random

def get_random_salt(n) :
  
    salt=""
    for i in range(n):
        salt=salt+random.choice(string.ascii_letters)

    return salt

# Get a random encryption key
from cryptography.fernet import Fernet

def get_random_encryptkey() :

    encrypt_key = Fernet.generate_key()
    # fernet = Fernet(key)
    return encrypt_key

In [65]:
# Take XOR of string a and string b
def XOR1(a, b) :
    res = ""
    i = 0
    j = 0
    
    while (i<len(a) and j<len(b)) :
        
        temp = str(ord(a[i]) ^ ord(b[j])) 
        
        if len(temp) == 1 :
            temp = "00" + temp
        elif len(temp) == 2 :
            temp = "0" + temp
        
        res += temp
        i = i + 1
        j = j + 1
    
    while i<len(a) :
        
        temp = str(ord(a[i])) 
        
        if len(temp) == 1 :
            temp = "00" + temp
        elif len(temp) == 2 :
            temp = "0" + temp
        
        res += temp
        i = i + 1
        
    while j<len(b) :
        
        temp = str(ord(b[j])) 
        
        if len(temp) == 1 :
            temp = "00" + temp
        elif len(temp) == 2 :
            temp = "0" + temp
        
        res += temp
        j = j + 1
        
    return res

# **Connecting with MySQL**

In [66]:
pip install mysql-connector-python-rf

Requirement already satisfied: mysql-connector-python-rf in /usr/local/lib/python3.7/dist-packages (2.2.2)

In [67]:
# install, set connection
!apt-get install mysql-server > /dev/null
!service mysql start
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'"
!pip -q install PyMySQL
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql mysql+pymysql://root:root@/
# query using %sql or %%sql
df = %sql SELECT Host, User, authentication_string FROM mysql.user
df

 * Starting MySQL database server mysqld
   ...done.
ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)
The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * mysql+pymysql://root:***@/

        Host              User                      authentication_string
0  localhost              root  *81F5E21E35407D884A6CD4A731AEBFB6AF209E1B
1  localhost     mysql.session  *THISISNOTAVALIDPASSWORDTHATCANBEUSEDHERE
2  localhost         mysql.sys  *THISISNOTAVALIDPASSWORDTHATCANBEUSEDHERE
3  localhost  debian-sys-maint  *53E101956E13ED24AC7FD125DEBDFF39E932C594

In [68]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x7f1e97d2c1d0>

# **Part 1 : Store Data in Database**

In [69]:
mycursor = mydb.cursor()

In [70]:
mycursor.execute("DROP DATABASE btp")

DatabaseError: ignored

In [71]:
mycursor.execute("CREATE DATABASE btp")

In [72]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

('information_schema',)
('btp',)
('mysql',)
('performance_schema',)
('sys',)

In [73]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database='btp'
)

mycursor = mydb.cursor()

In [74]:
table_name = "customers"
columns = ['id', 'name', 'city', 'wallet_balance']
data = [ ('1', 'Mangesh', 'Umarkhed', '100'),
        ('2', 'Puspesh', 'Patna', '200'),
        ('3', 'Ritwiz', 'Delhi', '150'),
        ('4', 'Pranay', 'Delhi', '190'),
        ('5', 'Harsh', 'Agra', '120') ]

In [75]:
def store_data(table_name, columns, data) :

    # create table query, first column shoud be id/primary key
    create_query = "CREATE TABLE " + table_name + " (" + columns[0] + " VARCHAR(511) PRIMARY KEY"

    for idx in range(1,len(columns)):
        create_query += ", " + columns[idx] + " VARCHAR(511)"
    
    create_query += ")"

    mycursor.execute(create_query)

    # insert data query 
    insert_query = "INSERT INTO " + table_name + " (" + columns[0]

    for idx in range(1,len(columns)):
        insert_query += ", " + columns[idx]
    
    insert_query += ") VALUES (" + "%s"

    for idx in range(1,len(columns)):
        insert_query += ", %s"

    insert_query += ")"

    id_and_salts = []
    encrypt_key = get_random_encryptkey();
    fernet = Fernet(encrypt_key)
    encrypted_data = []
    
    for idx in range(len(data)):
        encrypted_data.append(list(data[idx]))

    for row in range(len(data)) :
      
        encrypted_id = fernet.encrypt(data[row][0].encode('utf-8'))
        salt = get_random_salt(len(encrypted_id))
        encrypted_salt = fernet.encrypt(salt.encode('utf-8'))
        
        id_and_salts.append(encrypted_id)
        id_and_salts.append(encrypted_salt)

        encrypted_data[row][0] = XOR1(str(encrypted_id),salt)

        for col in range(1,len(data[0])) :

            encrypted_data[row][col] = XOR1(str(fernet.encrypt(data[row][col].encode('utf-8'))), salt)
                
    mycursor.executemany(insert_query, encrypted_data)
    mydb.commit()

    print("Encryption Key :", encrypt_key)

    idx = 0
    print("Encrypted Primary Key and Salt :")
    while idx < len(id_and_salts) :
        if idx == 0:
            print(str(id_and_salts[idx]) + "," + str(id_and_salts[idx+1]))
        else :
            print("," + str(id_and_salts[idx]) + "," + str(id_and_salts[idx+1]))
        idx = idx + 2

In [76]:
store_data(table_name, columns, data)

Encryption Key : b'yER6V-sJWXVFfkAi6aPDKogoE_qep31ovb8dgL9YD0M='
Encrypted Primary Key and Salt :
b'gAAAAABicXsxBivZxGZ5VbhFdCQHqDnSHt5ICFOkHSAGxZ1LpCrZ8z5URTSIFRKc6kxcoJk_ndvNmTOtp-hlgsl-8PV_d3U4Ww==',b'gAAAAABicXsxkL-jjmDh4wAmfXlhFMZmVE2XtBemb5ui9s17vvqZP9sH_AhTdnR4oCBAjVX2A2X-l7WPbW6lRmWYYnjXvG90n0Xg-sx9TYtEVzSIj_QX-2zta-0LKWR-t1JjBZ4vRIITKHbVsHnIa-ZZV_pBU8plXv3Dz9dhROzMZcYOOxVGho_zXz7exl9JWBEJPcwD6Rhngdt6Z89BLwclYyk4uf3N5A=='
,b'gAAAAABicXsxOxz2aq-tzymgLU4sasM2sox7KrAu8kOcN9ZDr7_hthXSX8r_ddI1gpN7d0sU7EwoKd6PdkVwto3TH61yfIxFUQ==',b'gAAAAABicXsxfKpLPhXQQPTRwNaj5iGtyB7Xahv_32Wc971TydpB_-5EsDFGyCrfRrLuA3MseEmJtHFTeNqBUmaJy5LcpzddIBT_MVB_1Nqx7kdE43Y170eQWh2yuzLSvy4r4fafz-dvui4XxN6Ttb_qX1h2rpb0udTf4kggVlnaGLAujDim7KmuHWAYb7QN2uyTCfBWKwtzYIS3xVPi1jchoQFRDLSqBw=='
,b'gAAAAABicXsxkeRW5hWiQp77_M0aT3r0j9Rwks4dDPJoQZ_-_ZVe-qvGnlfE26gnDBlcWHLSrX0e9BEjQX-bPF0OoZzJV_N6sQ==',b'gAAAAABicXsxeIZcYBBJWFMI82ATTsbdMq96Rc36QIlFHbjiRVr0xzZNOnjbOmlRbl2YilZwKTvjM6zKftIqTH-52WzKFaMAH_Id_1K77NSCBtPpNYc2gDVq-T5Mn9xqqaSWMyV0EK2-DwyRsZMqhMcAuBea3_vpsgU81keay2mqg_yE5yaaHi4gRZOnR9cf5EnV-eFxSUBhuR9lv-ZCJLXBHfchUhX_1A=='
,b'gAAAAABicXsx_Qg8UZu5CyTCCILh2oV26XJ2wlu0bVg4kpNpUisQHe8VimPf_M9wTwBC7Gvm5_9m2s0ekt1P6otMGeBbfsjItg==',b'gAAAAABicXsx7N6WhDeTLmAUD2NpodBhq7NnXjINf02uL_MsRcwAYg2lO24YPzirJQjaLjE9xbzE1J_i_E_C8Ly4gMs7w2Rx-KW2fGcNqX_Cn1AhieiqQgx4bYN4VzUBf3Ixz3GeO0m5gocthIPM3tWXN3QeZiGx59gHmeNlfH4Ijzz1f51aLh-RMCT7WFW5qoM5r9-d1SOyQ7i3en8T3okn07cxUMoe9g=='
,b'gAAAAABicXsxrUThWtRKdrlPfsoiFHhQDYIoSeHFqtxO2jRcqNRi9n2lbIHp1GFbaJatZv_m0qLzrOmyn7IGQBUxgclz6DqTkw==',b'gAAAAABicXsx9be10uP1KQq2InqaTBwI-kVHMo0mhn91jcqz8OkMYtsJxfMp8VUAYaHnQD5bc6KKUgyAVvgq3x7rIP-1-XsaH2sE-qPhF53ZnFIOlOwVxUSLEE1XOLBc8QukUBqqejNTTBQj5xs5KnSz13O5XZZF51x7YMf3k2PG1YmfSnbXIZc-jnroKddYXz0HplQ7dBuUnfct2FPMEOdMntKQJ43vIg=='

In [ ]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
  print(x)

In [ ]:
mycursor.execute("SELECT * from customers")
for x in mycursor:
  print(x)

('026082003042037035019059020048041037004017051028091069015045036107014091045027049025002060037063023010059030044047063120006023052028048008037042056037042007103008041105021011067081002051041027047043030044066019094049019023059116019034063039002060113055048053031047020021054001007048037062059020029062061061039', '026082003042037035019059020048041037004017059092095003029080001003014012000036054014121014029027103003043062022013087002121022028029003005023047052058042034035029035006021054029001016060025064012021013027032080062052027065033054001029071039006032001061114035037000050056017111056012018072002070001024061061039', '026082003042037035019059020048041037004017005006087077004015033040012000060033045037044024020044051035067000020040082039126029018028046044058034066014034009005005008003052010001051041046046019021041043048036020005014010025037029020010061017025036006046039027022012058031039055064060036058017036059024061061039', '026082003042037035019059020048041037004017088054063057061017066042118057067004065013039046039013032053013061121026035006034011077026040020003051019032053044003059053040008051000042002043115050060044033026007095008037000025039001029001077052064010042021001043017052067028092028060104057059010059044024061061039')
('035113030038018014057052046059040005036046036046014055016059091049007059090049122124006026018004037051043005052011005017025026024001042024030034033016023037011010032007066051063120117047032015004055033039116043050113116029021063061023000116053038009053043076006039060031004122039026037033117125056052061061039', '035113030038018014057052046059040005036046014077021047012112021030035008095055020122010001045057016034005041029007033006122007046000062051079028056060003054038007008055068067017047036060003033038126060060113050048117039059003015005013002008039029047068063027046058074015013014022038079015048026018052061061039', '035113030038018014057052046059040005036046006002031021019122062067023043037045056125057008009018080112087060012050062053028019060096056000009062089060028003100000034019037037006008043042006050117103058026114051059022011002031005040030003116060053045051012048037020008002122007103035051003050042056002061061039', '035113030038018014057052046059040005036046056060029041040030057062007051039119039018004004057071050051038062062111003070125025009106123025032039056012044004002059020055034031061007063009053050033028126113007027053117009094036030040019002041057060016002065020065121017039043044026054048035023041056002061061039')
('049064008051020051000035037039014022017056095028075018062004000063012045043071060017056041054061037038108037044036016009056035126045100074108033059049042000045123020002012001000061010037063036038043023015028024020018040040042123027086013002005055025060057033019039000035047001049018041096036049007029061061039', '049064008051020051000035037039014022017056037009055030030032032047087027072055015057124038061045070043108009053115048015030033005038035041018106006002019056082052001060051053001054032067004036059036029110042023023126107009051027102049076058122004059099030040084001040011005050037049035102059093019059061061039', '049064008051020051000035037039014022017056008106018005009052029016010039032017030004012061030008090062009061044007027035037035038006050003007033022010061050083049020028001038007054018000115076038023012116004054039013026008057000044019018004112063061037034115048041045036099029018043028003023030036029061061039', '049064008051020051000035037039014022017056088026048029037063004054045014045044026048059035017010038000044097056018044010057014127027038001013017047006035031040118007026038023067027028038050048024055063123058022055036108028004037014018058028058002069030025040032033040018045046004011018011055028001059061061039')
('055100029032045032008021037006009004011048011003123061037049024117061027004040093054049054000026051005068039053003000033044048032001038012085005063057014000015017043057001050040034014049032009090121030012036045085037026035004027019014062048042033004123014008099059057072058035026075113016051059014057061061039', '055100029032045032008021037006009004011048025049004061036039040050043053065012039015015006062023037092028005038061086003014016046035010046023071036028021035016058035008106057029023005016017010015021001029091031047063039116100090050014062101037062093127026015014054044086124111037020026040053025040057061061039', '055100029032045032008021037006009004011048028034018072026004002033046063031043042044038039035000031061036070066005021028042098058038001047042017016027050092011005017034097033071017044076021023093009036008063014088060055040013095003038028026016041028120083010013101013049039013031019009014047012025031061061039', '055100029032045032008021037006009004011048037015039038079063020013002027046040051113053052011004008000048036064012056019008063020003061034000076002020086028053036052052059036052001056043055124093041026041036045094067046045019093011121019097012076071058030048054025042001033031040060032048036030004041061061039')
('058125004039038044007036022049026027029035120022003015060016030004127046025021000050029125050028119080006004115028063126011051050065023028085025004024066029114042033096034080044063010011079035021031023048018034039101036000075034015017042016076016097030084049106036036029009056036042100032030066023023061061039', '058125004039038044007036022049026027029035053028025004061037019061038030046051039054014003007048005086032026012030079009036057060052030126023010018051056030038094053012052036122039029055026017056049044042056010098102081063066062092026026015027046027061036041096125016045001061025032043009042031036023061061039', '058125004039038044007036022049026027029035037025009061090052051028003052034050091032026008039060016041063007053043009017055058024066059113091015034037003042124035098058080058014072112032085030024050017043111046029036054044055015047049036122029013126035043041030026112091058062006127019020009049051049061061039', '058125004039038044007036022049026027029035011028000094056014013121028085062018084116047041037092046005054020044056059012032056122030035019010028060033063059001056097058015049007037003123044025059044046014039034003061003019039064055037009038002000024076037077060042127032120007020061010041006004096033061061039')

# **PART 2 : Making Query from MySQL**

In [84]:

# Get from result of store_data 
key1=b'yER6V-sJWXVFfkAi6aPDKogoE_qep31ovb8dgL9YD0M='
EncPrimary_key="b'gAAAAABicXsxkeRW5hWiQp77_M0aT3r0j9Rwks4dDPJoQZ_-_ZVe-qvGnlfE26gnDBlcWHLSrX0e9BEjQX-bPF0OoZzJV_N6sQ=='"
fernet1=Fernet(key1)
# Get from Blockchain
encSalt = "b'gAAAAABicXsxeIZcYBBJWFMI82ATTsbdMq96Rc36QIlFHbjiRVr0xzZNOnjbOmlRbl2YilZwKTvjM6zKftIqTH-52WzKFaMAH_Id_1K77NSCBtPpNYc2gDVq-T5Mn9xqqaSWMyV0EK2-DwyRsZMqhMcAuBea3_vpsgU81keay2mqg_yE5yaaHi4gRZOnR9cf5EnV-eFxSUBhuR9lv-ZCJLXBHfchUhX_1A=='"
salt_temp1=encSalt[1:len(encSalt)]
salt_str= fernet1.decrypt(salt_temp1.encode('utf-8')).decode()

Idd=(XOR1(salt_str,EncPrimary_key), )

query = "SELECT name from customers where id= %s"
mycursor.execute(query,Idd)
res=""
for x in mycursor:
  res=x

Encrypted_res=XOR1(convert(res[0]),salt_str)

temp=convert(Encrypted_res)
print(temp)
s1=temp[1:len(temp)]
decMessage = fernet1.decrypt(s1.encode('utf-8')).decode()

print("\n\nDecrypted string: ", decMessage)

b'gAAAAABicXsxCUmaE3Awv3s2INz4OcMfEoLnT0aYB34sl_s7mcDDS-Fk6hPgKe7mMUPpLK6cbmSL2-oWeQZdkWncts1HtrX8CA=='


Decrypted string:  Ritwiz